<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ingresar</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body>
    <div id="nav">
        <div style=" background: #fffad1;" id="home">HOME</div> 
        <div id="add">ADD boock  </div>
        <div id="search">Search Book  </div>
        <div id="logout"><a style=" width: 100%;text-decoration: blink;text-align: center;" href="/logout"><img style=" height: 3vh;" src="/ico/logout.png"></a></div>

    </div>
    
</body>

</html>