<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ingresar</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="container">
        <section id="content">
            <h1>Registrar</h1>
            <form method="post" action="/registrar">
                <div id="div_user">
                    <input type="text" value="" name="username" id="username" placeholder="user">
                </div>
                <div id="labelpass">
                </div>
                <div id="div_password">
                    <input type="text" value="" name="password" id="password" placeholder="Password">
                </div>
                <div id="div_password">
                    <input type="text" value="" name="email" id="username" placeholder="email">
                </div>
                <div id="div_password">
                    <input type="text" value="" name="firstName" id="username" placeholder="firstName">
                </div>
                <div id="div_password">
                    <input type="text" value="" name="lastName" id="username" placeholder="lastName">
                </div>
                <div style="display: flex;justify-content: space-between;width: 90%;">
                    <input type="submit" value="Registrar">
                     <a href="/login">login</a>
                </div> 
            </form>
    </div>
    </div>
</body>

</html>